@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/FiraMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/FiraMono-Bold.woff2') format('woff2');
}

body {
  background-color: #dddddd;
  --grid-fg: #cbcbcb;
  background-image: repeating-linear-gradient(var(--grid-fg) 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, var(--grid-fg) 0 1px, transparent 1px 100%);
  background-size: 1ch 1lh;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  line-height: 1.25;
  letter-spacing: 0;
  font-size: 0.75em;
  box-sizing: border-box;
  padding: 2lh 4ch;
}

h1 {
  font-size: 1em;
  margin: 0;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  margin-top: 2lh;
}

#back {
  display: inline-block;
  margin-bottom: 2lh;
}

.underline {
  user-select: none;
}

p {
  margin: 0;
  margin-top: 1lh;
}

address {
  margin-left: 2ch;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul:not(li > ul) {
  margin-top: 1lh;
}

li {
  margin: 0;
  padding: 0;
  margin-left: 4ch;
  list-style-type: none;
}

li::marker {
  content: "* ";
}

a {
  color:#9d0331;
  text-decoration: none;
  outline: none;
  display: inline-block;
}

a:hover, a:focus-visible, a.active {
  background: #9d0331;
  color: #dddddd;
}

::selection {
  background: #5a5a5a;
  color: #ffffff;
}
